<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.tfc_ulusofona.androidquizbuilder">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Controller.LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".Controller.RankingsActivity"/>
        <activity android:name=".Controller.PerfilActivity"/>
        <activity android:name=".Controller.JogoActivity"/>
        <activity android:name=".Controller.WelcomeActivity"/>
        <activity android:name=".Controller.RegisterActivity"/>
        <activity android:name=".Controller.QuestionarioActivity"/>
        <activity android:name=".Controller.PerguntaActivity"/>
        <activity android:name=".Controller.ResultadoActivity"/>
    </application>


</manifest>
